@model OverviewPageViewModel
@{
ViewData["Title"] = "Index";
}
<style>
.product h4 {
	text-align: center;
}

.product h5 {
	text-align: center;
}

.imgSize {
	width: 15rem;
	height: 15rem;
}
</style>

<div class="cointainer">
<div class="row">
	@if (Model.Producents.Count > 0)
	{
		<div class="col-sm-2">

			<form method="get">

				<ul class="list-group">
					@foreach (var item in Model.Producents)
					{
						<li class="list-group-item">
							<input class="form-check-input me-1" type="checkbox" name="producer" value="@item" aria-label="...">@item
						</li>
					}
				</ul>
				<label for="MinCena">Cena minimalna</label>
				<input type="number" min="1" name="minCena" class="form-control" />
				<small class="form-text text-muted">Cena musi być większa od 0</small>
				<label for="MaxCena">Cena maksymalna</label>
				<input type="number" name="maxCena" class="form-control" />
				<input type="hidden" name="dataId" value="@ViewData["dataId"]" />
				<button class="btn btn-outline-warning" type="submit" asp-controller="Overview" asp-action="FilterProducts">Zastosuj filtry</button>
			</form>
			<form method="post">
				<button class="btn btn-outline-warning" type="submit" asp-route-dataId="@ViewData["dataId"]" asp-controller="Overview" asp-action="Index">Wyczyść filtry</button>
			</form>

		</div>
	}
	<div class="col-sm-10">
		<div class="row">
			@if (Model.PromotedProducts.Count > 0 || Model.Products.Count > 0)
			{
				@foreach (var item in Model.PromotedProducts)
				{
					<a class="col-sm-5 col-md-4 col-xl-3 link-dark" asp-route-productId="@item.Id" asp-controller="ProductDetails" asp-action="Index">
						<div class="product">
							<img class="imgSize" src="@item.CoverImageUrl" alt="@item.Name - zdj">
							<h4>@item.Name</h4>
							<h5>Cena: @item.Price zł</h5>
						</div>
					</a>
				}
				@foreach (var item in Model.Products)
				{
					<a class="col-sm-5 col-md-4 col-xl-3 link-dark" asp-route-productId="@item.Id" asp-controller="ProductDetails" asp-action="Index">
						<div class="product">
							<img class="imgSize" src="@item.CoverImageUrl" alt="@item.Name - zdj">
							<h4>@item.Name</h4>
							<h5>Cena: @item.Price zł</h5>
						</div>
					</a>
				}
			}
			else
			{
				<p>Nie znaleziono produktów spełniających kryteria wyszukiwania. Zmień podane kryteria lub usuń filtry aby zobaczyc produkty.</p>
			}
		</div>
	</div>
</div>
</div>


