@model OverviewPageViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
    .product h4 {
        text-align:center;
    }

    .product h5 {
        text-align: center;
    }
    .imgSize {
        width: 15rem;
        height: 15rem;
    }
</style>

<div class="cointainer">
    <div class="row">
        @foreach (var item in Model.PromotedProducts)
        {
            <a class="col-sm-6 col-md-4 col-xl-3 link-dark" asp-route-productId="@item.Id" asp-controller="ProductDetails" asp-action="Index">
                <div class="product">
                    <img class="imgSize" src="@item.CoverImageUrl" alt="@item.Name - zdj">
                    <h4>@item.Name</h4>
                    <h5>Cena: @item.Price zł</h5>
                </div>
            </a>
        }
        @foreach (var item in Model.Products)
        {
            <a class="col-sm-6 col-md-4 col-xl-3 link-dark" asp-route-productId="@item.Id" asp-controller="ProductDetails" asp-action="Index">
                <div class="product">
                    <img class="imgSize" src="@item.CoverImageUrl" alt="@item.Name - zdj">
                    <h4>@item.Name</h4>
                    <h5>Cena: @item.Price zł</h5>
                </div>
            </a>
        }
    </div>
</div>


