@model ShoppingCart
@{
    ViewData["Title"] = "Index";
}
<style>
    .col-md-7 h2 {
        color: #555;
    }

    .price {
        font-size:26px;
        font-weight:bold;
        padding-top: 20px;
    }
    .marka {
        padding-top: 20px;
    }
    input
    {
        border:1px solid #ccc;
        font-weight: bold;
        height: 33px;
        text-align: center;
        width: 30px;
    }
    .cart {
        font-size:15px;
        margin-left: 20px;
    }

</style>


<div class="container">
    <form method="post" asp-action="AddToCart" enctype="multipart/form-data">
    <input hidden asp-for="@Model.ProductId" />
    <div class="row">
        <div class="col-md-5">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Product.productImages.Count; i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                            <img src="@Model.Product.productImages[i].URL" class="d-block w-100" alt="@Model.Product.Name">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <h2>@Model.Product.Name</h2>
            <p>Kod produktu: @Model.Product.Id</p>
            <p class="price text-warning">Cena: @Model.Product.Price zł</p>
            <label>Ilość:</label>
            <input asp-for="@Model.Count" type="number" min="1" value="1" style="width: 80px">
            <p class="marka"><b>Marka: </b>@Model.Product.Producer.Name</p>
            <p><b>Ilosc sztuk na stanie: </b>@Model.Product.Amount</p>
            <button type="submit" class="btn btn-default cart bg-warning text-dark">Add to Cart</button>
        </div>
        <p><b>Opis: </b>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
    </div>
    </form>
</div>



