@model Product
@{
    ViewData["Title"] = "Index";
}
<style>
    .col-md-7 h2 {
        color: #555;
    }

    .price {
        font-size:26px;
        font-weight:bold;
        padding-top: 20px;
    }
    .marka {
        padding-top: 20px;
    }
    input
    {
        border:1px solid #ccc;
        font-weight: bold;
        height: 33px;
        text-align: center;
        width: 30px;
    }
    .cart {
        font-size:15px;
        margin-left: 20px;
    }

</style>


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.productImages.Count; i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                            <img src="@Model.productImages[i].URL" class="d-block w-100" alt="@Model.Name">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <h2>@Model.Name</h2>
            <p>Kod produktu: @Model.Id</p>
            <p class="price text-warning">Cena: @Model.Price zł</p>
            <label>Ilość:</label>
            <input type="text" value="1">
            <button type="button" class="btn btn-default cart bg-warning text-dark">Dodaj do koszyka</button>
            <p class="marka"><b>Marka: </b>@Model.Producer.Name</p>
            <p><b>Ilosc sztuk na stanie: </b>@Model.Amount</p>
            <p><b>Opis: </b>@Model.Description</p>
        </div>
    </div>
</div>



